@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300&display=swap');


*{ /*el asterisco es para aplicar una regla a todo el documento*/
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* background-color: red;*/
    
}
h2{
	font-family: 'Nunito', serif;
	text-align: center;
	color: blue;
	

	
}
body{
/*background-color: #c34;*/
font-family: 'Nunito', serif;
font-weight: 300;
color: #444;

}

header{
height: 12px;
background-color: #ec0b0b;
}


nav{
	display: flex;
 align-items: center;
  
    height: 70px;
    text-align: center; /*me centra la barra de inicio*/
    background-color: #ccc;

}
    nav a{ /*tecnica de descendencia(mejor tabular)*/
        text-decoration: none;
        color: #000;
        margin: 0px 25px; /*para marcar una separacion*/
        display: inline-block; /*para que el padding aplique y quede centrada la cajita*/
        padding: 18px 30px; /*incrementa el area de click*/
        border-bottom: 3px solid #fff; /*si no defino esta linea, en el transition me aparece previamente una linea negra*/
        transition: 0.8s;
    }
    nav a:hover{
        border-bottom: 3px solid #86f4f9; /*solo cambia el color del borde, no de todo el boton*/
    }


main{
	background-color: white;
min-height: 570px; /*esto me determina una altura minima, para que no desborde si hay exceso de texto*/
width: 1400px;
margin: auto; 
justify-content: space-between;
/* background-color: red; */
   
}
    main article{
   
        width: 310px;
       
        padding: 70px;
        display: inline-block;
        transition: 0.8s;
        justify-content: center;
        
    }
    article .plataforma1{
    max-height: 100px;
    max-width: 90px;
    min-height: 100px;
    min-width: 90px;
   
    
    }
      article .plataforma2{
    max-height: 70px;
    max-width: 75px;
    min-height: 70px;
    min-width: 75x;
    
    }
      article .plataforma3{
    max-height: 70px;
    max-width: 90px;
    min-height: 70px;
    min-width: 90px;
    
    }
 	main .selector {
    width: 85px;
 	}
    main article:hover{
        box-shadow: 10px 5px 5px #ccc;
    }
iframe{
	align-content: flex-start;
}

div #seleccionar{
align-self: left;
	}
div #emitir{
align-self: right; 
	}
footer{

    height: 180px;
background-color: #090d46;

}
/* .caja{ */
/*     background-color: red; */
/*     height: 70px; */
/*     width: 300px; */
/*     text-align: center; */
/*     line-height: 70px; la misma altura de la caja para el interlineado. as� queda centrado */
/*     box-shadow: 10px 5px 5px #ccc; sombra con parametros: eje x (positivo derecha o negativo izquierda) eje y, desenfoque y color */
/*     	display: flex; */
/*   justify-content: center; */

    
/* } */


#logotvp{
	max-height: 30px;
	max-width: 30px;
	
	align-items: center ;
}

/* sintaxis resumida: buscar en emmet en instalar en vsc  ;
 article*6>img+h2{Servicio}+p{lorem}  */